<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>例2-17</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <button v-on:click="add">添加学生</button>
        <button v-on:click="del">删除学生</button>
        <table border="1" width="50%" style="border-collapse:collaose">
            <tr>
                <th>班级</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
            </tr>
            <tr align="center" v-for="item in students">
                <td>{{item.grade}}</td>
                <td>{{item.name}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.age}}</td>
            </tr>
            <input type="text" v-model="name">
        </table>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                students: []
            },
            methods: {
                add() {
                    var student = {
                        grade: "1",
                        name: "张三",
                        gender: "男",
                        age: 25
                    }
                    this.students.push(student) //push() 方法可向数组的末尾添加一个或多个元素，并返回新的长度。
                },
                del() {
                    this.students.pop() //pop() 方法用于删除数组的最后一个元素并返回删除的元素。
                }
            }
        })
    </script>
</body>

</html>