<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../js/vue.js"></script>
    <style type="text/css">
        .row-enter {
            width: 0px;
        }
        
        .row-enter-active {
            transition: width .3s
        }
        
        .row-enter-to {
            width: 200px
        }
        
        .red {
            background: red;
            height: 20px;
        }
        
        .blue {
            background: blue;
            height: 20px;
        }
        
        .yellow {
            background: yellow;
            height: 20px;
        }
    </style>
</head>

<body>
    <div id='app'>
        <button @click="showNum">切换</button>
        <div>
            <transition name="row">
                <div class="red" v-if="show=='A'" key="A"></div>
                <div class="blue" v-if="show=='B'" key="B"></div>
                <div class="yellow" v-if="show=='C'" key="C"></div>

            </transition>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                show: 'A'
            },
            methods: {
                showNum() {
                    if (this.show == 'A') {
                        return this.show = 'B'
                    } else if (this.show == 'B') {
                        return this.show = 'C'
                    } else {
                        return this.show = 'A'
                    }
                }
            }
        })
    </script>
</body>

</html>